## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Key Largo,US,84.99,Clouds,25.09,-80.45,Bayside Inn Key Largo
1,6,Yellowknife,CA,82.40,Clouds,62.46,-114.35,The Explorer Hotel
2,8,Georgetown,MY,82.40,Clouds,5.41,100.34,Cititel Penang
3,9,Lufilufi,WS,81.70,Clouds,-13.87,-171.60,Leuaina Beach Resort and Spa
4,10,Sola,VU,84.20,Clouds,-13.88,167.55,Leumerus Bungalows

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "East Foothills")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Meadow Lake")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Carlsbad")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "San Quintin")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Silver City")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
227,662,East Foothills,US,82.99,Smoke,37.38,-121.82,Sierrabrook Apartments

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame(vacation_start).to_numpy()
start = (start[0][5], start[0][6])

end = pd.DataFrame(vacation_end).to_numpy()
end = (end[0][5], end[0][6])

stop1 = pd.DataFrame(vacation_stop1).to_numpy()
stop1 = (stop1[0][5], stop1[0][6])

stop2 = pd.DataFrame(vacation_stop2).to_numpy()
stop2 = (stop2[0][5], stop2[0][6])

stop3 = pd.DataFrame(vacation_stop3).to_numpy()
stop3 = (stop3[0][5], stop3[0][6])



print(start)

(37.38, -121.82)

In [50]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(45.0, -10.0), zoom_level=5.5)
trip_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(trip_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,662,East Foothills,US,82.99,Smoke,37.38,-121.82,Sierrabrook Apartments
1,513,Carlsbad,US,77.00,Haze,33.16,-117.35,Carlsbad Inn Beach Resort
2,333,San Quintin,MX,77.04,Clouds,30.48,-115.95,Old Mill Hotel
3,385,Silver City,US,75.20,Clouds,32.77,-108.28,Copper Manor Motel
4,536,Meadow Lake,US,87.80,Clear,34.80,-106.54,JKL Inc. R.V Park and Storage

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(45.0, -10.0), zoom_level=5.5)
itin_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(itin_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))